.container {
  margin: 20px auto;
  width: 60%;
}

.todo-item {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  border-radius: 8px;
}

.add-form {
  margin: 20px auto;
  width: 50%;
}

.add-form input {
  margin-bottom: 10px;
}

.btn {
  margin-right: 10px;
}